body {
    font-family: "Arial", sans-serif;
    background-color: #ececec;
}
 
section {
    text-align: center;
}
 
.Spel-title {
    font-size: 100px;
    color: #e60d0d;
    margin: 80px auto;
}
 
.Spel-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 60px auto;
    background-color: #6597e9;
    color: #04c0b2;
    border-radius: 6px;
}
 
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ff9500;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
 
.Spel-status {
    font-size: 50px;
    color: #cb00dd;
    margin: 20px auto;
}
 
.Spel-omstart {
    background-color: #f7e4ac;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #5586e2;
    border: 2px solid #ffa96f;

}


